header {
    background-color: #133816;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  nav {
    display: flex;
  }
  
  nav button {
    margin-right: 10px;
  }
  